*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    width: 220px;
    height: 250px;
    margin: 70px auto;
    position: relative;
    background-color: #fff;
    border: 1px solid black;
}
.card a img{
    width: 100%;
} 

.card a .amount{
    width: 80px;
    height: 30px;
    padding: 5px;
    background-color: #a33b66;
    color: #fff;
    border-radius: 0 0 5px 0;
    position: absolute;
    left: 0;
    bottom: 55px;

}
.card a p{
    font-size: 18px;
    line-height: 19px;
    color: #2d424a;
    position: absolute;
    bottom: 30px;
    left: 10px;
}
.card a .date{
    color: gray;
    font-size: 12px;
    position: absolute;
    bottom:10px ;
    left:10px ;
}
.card a  .icon{
    font-size: 20px;
}
.card a .icon-heart{
    color:gray;
    position: absolute;
    bottom: 55px;
    right: 5px;
}
.card a .icon-crown{
    color:yellow;
    position: absolute;
    bottom: 10px;
    right: 30px;
}
.card a .icon-diamond{
    color:#800080;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
